-- CreateEnum
CREATE TYPE "UserType" AS ENUM ('CUSTOMER', 'PARTNER', 'EMPLOYEE', 'ADMIN', 'SITE_ADMIN');

-- CreateEnum
CREATE TYPE "UserRole" AS ENUM ('INDIVIDUAL_CUSTOMER', 'PROFESSIONAL_CUSTOMER', 'FULFILLMENT_STAFF', 'MANAGER', 'EXECUTIVE', 'ADMIN');

-- CreateEnum
CREATE TYPE "ClientType" AS ENUM ('ONE_TIME', 'RETURNING', 'SUBSCRIPTION');

-- CreateEnum
CREATE TYPE "AddressType" AS ENUM ('PRINCIPAL', 'MAILING', 'REGISTERED_AGENT', 'PERSONAL');

-- CreateEnum
CREATE TYPE "EntityType" AS ENUM ('LLC', 'CORPORATION', 'NONPROFIT_CORPORATION', 'PARTNERSHIP', 'SOLE_PROPRIETORSHIP');

-- CreateEnum
CREATE TYPE "EntityStatus" AS ENUM ('PENDING', 'FILED', 'ACTIVE', 'INACTIVE', 'DISSOLVED');

-- CreateEnum
CREATE TYPE "AgentType" AS ENUM ('INDIVIDUAL', 'COMPANY', 'LEGALOPS');

-- CreateEnum
CREATE TYPE "RoleType" AS ENUM ('MANAGER', 'MEMBER', 'PRESIDENT', 'VICE_PRESIDENT', 'SECRETARY', 'TREASURER', 'DIRECTOR', 'PARTNER');

-- CreateEnum
CREATE TYPE "FilingType" AS ENUM ('LLC_FORMATION', 'CORP_FORMATION', 'NONPROFIT_FORMATION', 'ANNUAL_REPORT', 'AMENDMENT', 'DISSOLUTION', 'REINSTATEMENT', 'NAME_CHANGE', 'REGISTERED_AGENT_CHANGE', 'ADDRESS_CHANGE', 'EIN_APPLICATION', 'FICTITIOUS_NAME');

-- CreateEnum
CREATE TYPE "FilingStatus" AS ENUM ('DRAFT', 'PENDING_PAYMENT', 'PAID', 'IN_REVIEW', 'PENDING_CUSTOMER_APPROVAL', 'APPROVED_BY_CUSTOMER', 'READY_TO_FILE', 'SUBMITTED', 'COMPLETED', 'REJECTED', 'CANCELLED');

-- CreateEnum
CREATE TYPE "DocumentType" AS ENUM ('ARTICLES_OF_ORGANIZATION', 'ARTICLES_OF_INCORPORATION', 'CERTIFICATE_OF_STATUS', 'ANNUAL_REPORT', 'EIN_LETTER', 'RECEIPT', 'CONFIRMATION', 'OTHER');

-- CreateEnum
CREATE TYPE "OrderStatus" AS ENUM ('PENDING', 'PAID', 'PROCESSING', 'COMPLETED', 'CANCELLED', 'REFUNDED', 'PAYMENT_FAILED');

-- CreateEnum
CREATE TYPE "PaymentStatus" AS ENUM ('PENDING', 'PAID', 'FAILED', 'REFUNDED');

-- CreateEnum
CREATE TYPE "ServiceType" AS ENUM ('LLC_FORMATION', 'CORP_FORMATION', 'ANNUAL_REPORT', 'REGISTERED_AGENT', 'EIN_APPLICATION', 'OPERATING_AGREEMENT', 'CORPORATE_BYLAWS', 'CERTIFICATE_OF_STATUS', 'FICTITIOUS_NAME_REGISTRATION', 'AMENDMENT', 'ENTITY_INFORMATION_UPDATE', 'OFFICER_ADDRESS_UPDATE', 'REGISTERED_AGENT_CHANGE', 'BUSINESS_AMENDMENT', 'DISSOLUTION', 'REINSTATEMENT', 'NAME_RESERVATION', 'EXPEDITED_PROCESSING');

-- CreateEnum
CREATE TYPE "NotificationType" AS ENUM ('FILING_UPDATE', 'DOCUMENT_READY', 'PAYMENT_DUE', 'COMPLIANCE_ALERT', 'SYSTEM_UPDATE');

-- CreateEnum
CREATE TYPE "NoticeType" AS ENUM ('APPROVAL_REQUIRED', 'PAYMENT_REQUIRED', 'DOCUMENT_READY', 'FILING_SUBMITTED', 'FILING_COMPLETED', 'FILING_REJECTED', 'DEADLINE_APPROACHING', 'GENERAL_ALERT');

-- CreateEnum
CREATE TYPE "NoticePriority" AS ENUM ('URGENT', 'ATTENTION', 'SUCCESS');

-- CreateEnum
CREATE TYPE "RiskLevel" AS ENUM ('LOW', 'MEDIUM', 'HIGH', 'CRITICAL');

-- CreateEnum
CREATE TYPE "RiskRecommendation" AS ENUM ('APPROVE', 'REVIEW', 'VERIFY', 'DECLINE');

-- CreateEnum
CREATE TYPE "ReviewDecision" AS ENUM ('APPROVED', 'DECLINED', 'VERIFIED', 'MONITORING');

-- CreateEnum
CREATE TYPE "InteractionChannel" AS ENUM ('EMAIL', 'CHAT', 'PHONE', 'SMS', 'DASHBOARD_MESSAGE', 'SOCIAL_MEDIA', 'IN_PERSON');

-- CreateEnum
CREATE TYPE "InteractionDirection" AS ENUM ('INBOUND', 'OUTBOUND');

-- CreateEnum
CREATE TYPE "InteractionCategory" AS ENUM ('GENERAL_INQUIRY', 'ORDER_STATUS', 'TECHNICAL_SUPPORT', 'BILLING_QUESTION', 'REFUND_REQUEST', 'COMPLAINT', 'LEGAL_QUESTION', 'FEATURE_REQUEST', 'COMPLIANCE_ISSUE', 'FOLLOW_UP', 'AMENDMENT_REQUEST', 'DOCUMENT_REQUEST');

-- CreateEnum
CREATE TYPE "InteractionStatus" AS ENUM ('OPEN', 'IN_PROGRESS', 'WAITING_ON_CUSTOMER', 'WAITING_ON_INTERNAL', 'RESOLVED', 'CLOSED');

-- CreateEnum
CREATE TYPE "Priority" AS ENUM ('LOW', 'NORMAL', 'HIGH', 'URGENT');

-- CreateEnum
CREATE TYPE "Sentiment" AS ENUM ('VERY_NEGATIVE', 'NEGATIVE', 'NEUTRAL', 'POSITIVE', 'VERY_POSITIVE');

-- CreateEnum
CREATE TYPE "AccessAction" AS ENUM ('VIEW', 'EDIT', 'DELETE', 'EXPORT', 'SHARE');

-- CreateEnum
CREATE TYPE "AttachmentFileType" AS ENUM ('AUDIO_RECORDING', 'TRANSCRIPT', 'SCREENSHOT', 'DOCUMENT', 'SCREEN_RECORDING');

-- CreateTable
CREATE TABLE "users" (
    "id" TEXT NOT NULL,
    "email" TEXT NOT NULL,
    "passwordHash" TEXT NOT NULL,
    "firstName" TEXT,
    "lastName" TEXT,
    "phone" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "userType" "UserType" NOT NULL DEFAULT 'CUSTOMER',
    "role" "UserRole" NOT NULL DEFAULT 'INDIVIDUAL_CUSTOMER',
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "companyName" TEXT,
    "isWhiteLabel" BOOLEAN NOT NULL DEFAULT false,
    "department" TEXT,
    "managerId" TEXT,
    "autoApproveMinorChanges" BOOLEAN NOT NULL DEFAULT false,
    "autoApproveGrantedAt" TIMESTAMP(3),
    "autoApproveAcknowledged" BOOLEAN NOT NULL DEFAULT false,
    "tosAcceptedAt" TIMESTAMP(3),
    "privacyPolicyAcceptedAt" TIMESTAMP(3),
    "emailRemindersConsent" BOOLEAN NOT NULL DEFAULT false,
    "emailRemindersConsentAt" TIMESTAMP(3),
    "smsRemindersConsent" BOOLEAN NOT NULL DEFAULT false,
    "smsRemindersConsentAt" TIMESTAMP(3),
    "emailVerified" BOOLEAN NOT NULL DEFAULT false,
    "emailVerificationToken" TEXT,
    "emailVerificationExpires" TIMESTAMP(3),
    "passwordResetToken" TEXT,
    "passwordResetExpires" TIMESTAMP(3),
    "lastLoginAt" TIMESTAMP(3),
    "loginAttempts" INTEGER NOT NULL DEFAULT 0,
    "lockedUntil" TIMESTAMP(3),

    CONSTRAINT "users_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "user_profiles" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "personalFirstName" TEXT,
    "personalLastName" TEXT,
    "personalMiddleName" TEXT,
    "personalDateOfBirth" TIMESTAMP(3),
    "personalSSN" TEXT,
    "personalPhone" TEXT,
    "personalAltPhone" TEXT,
    "personalAddress" JSONB,
    "mailingAddress" JSONB,
    "businessAddress" JSONB,
    "businessCompanyName" TEXT,
    "businessTitle" TEXT,
    "businessIndustry" TEXT,
    "businessPhone" TEXT,
    "businessEmail" TEXT,
    "businessFEIN" TEXT,
    "businessType" TEXT,
    "enableAutoFill" BOOLEAN NOT NULL DEFAULT true,
    "verifiedFields" TEXT[],
    "lastAutoFillUpdate" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "allowDataExport" BOOLEAN NOT NULL DEFAULT true,
    "allowMarketing" BOOLEAN NOT NULL DEFAULT false,
    "allowAnalytics" BOOLEAN NOT NULL DEFAULT true,
    "dataRetentionDays" INTEGER,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "user_profiles_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "auth_sessions" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "sessionToken" TEXT NOT NULL,
    "expiresAt" TIMESTAMP(3) NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "lastAccessedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "ipAddress" TEXT,
    "userAgent" TEXT,
    "deviceFingerprint" TEXT,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "isSuspicious" BOOLEAN NOT NULL DEFAULT false,

    CONSTRAINT "auth_sessions_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "clients" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "firstName" TEXT NOT NULL,
    "lastName" TEXT NOT NULL,
    "email" TEXT NOT NULL,
    "phone" TEXT,
    "clientType" "ClientType" NOT NULL DEFAULT 'ONE_TIME',
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "clients_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "addresses" (
    "id" TEXT NOT NULL,
    "street" TEXT NOT NULL,
    "street2" TEXT,
    "city" TEXT NOT NULL,
    "state" TEXT NOT NULL,
    "zipCode" TEXT NOT NULL,
    "country" TEXT NOT NULL DEFAULT 'USA',
    "addressType" "AddressType" NOT NULL,
    "clientId" TEXT,
    "businessEntityId" TEXT,
    "registeredAgentId" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "addresses_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "business_entities" (
    "id" TEXT NOT NULL,
    "clientId" TEXT NOT NULL,
    "legalName" TEXT NOT NULL,
    "dbaName" TEXT,
    "entityType" "EntityType" NOT NULL,
    "stateOfFormation" TEXT NOT NULL DEFAULT 'FL',
    "documentNumber" TEXT,
    "filingDate" TIMESTAMP(3),
    "feiNumber" TEXT,
    "status" "EntityStatus" NOT NULL DEFAULT 'PENDING',
    "purpose" TEXT,
    "healthScore" INTEGER,
    "lastHealthCheck" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "business_entities_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "registered_agents" (
    "id" TEXT NOT NULL,
    "businessEntityId" TEXT NOT NULL,
    "agentType" "AgentType" NOT NULL,
    "firstName" TEXT,
    "lastName" TEXT,
    "companyName" TEXT,
    "email" TEXT,
    "phone" TEXT,
    "serviceStartDate" TIMESTAMP(3),
    "serviceEndDate" TIMESTAMP(3),
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "registered_agents_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "managers_officers" (
    "id" TEXT NOT NULL,
    "businessEntityId" TEXT NOT NULL,
    "firstName" TEXT NOT NULL,
    "lastName" TEXT NOT NULL,
    "title" TEXT,
    "roleType" "RoleType" NOT NULL,
    "email" TEXT,
    "phone" TEXT,
    "address" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "managers_officers_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "filings" (
    "id" TEXT NOT NULL,
    "businessEntityId" TEXT NOT NULL,
    "filingType" "FilingType" NOT NULL,
    "filingStatus" "FilingStatus" NOT NULL DEFAULT 'DRAFT',
    "filingData" JSONB NOT NULL,
    "confirmationNumber" TEXT,
    "trackingNumber" TEXT,
    "filedDate" TIMESTAMP(3),
    "approvedDate" TIMESTAMP(3),
    "staffChanges" JSONB,
    "staffChangeReason" TEXT,
    "requiresApproval" BOOLEAN NOT NULL DEFAULT false,
    "customerApprovedAt" TIMESTAMP(3),
    "customerApprovedBy" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "submittedAt" TIMESTAMP(3),

    CONSTRAINT "filings_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "filing_documents" (
    "id" TEXT NOT NULL,
    "filingId" TEXT NOT NULL,
    "documentType" "DocumentType" NOT NULL,
    "fileName" TEXT NOT NULL,
    "filePath" TEXT NOT NULL,
    "fileSize" INTEGER NOT NULL,
    "mimeType" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "filing_documents_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "packages" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "slug" TEXT NOT NULL,
    "price" DECIMAL(10,2) NOT NULL,
    "description" TEXT,
    "features" JSONB NOT NULL,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "displayOrder" INTEGER NOT NULL,
    "includesRA" BOOLEAN NOT NULL DEFAULT false,
    "raYears" INTEGER NOT NULL DEFAULT 0,
    "includesEIN" BOOLEAN NOT NULL DEFAULT false,
    "includesAI" BOOLEAN NOT NULL DEFAULT false,
    "includesOperatingAgreement" BOOLEAN NOT NULL DEFAULT false,
    "includesComplianceCalendar" BOOLEAN NOT NULL DEFAULT false,
    "badge" TEXT,
    "highlightColor" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "packages_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "orders" (
    "id" TEXT NOT NULL,
    "userId" TEXT,
    "isGuestOrder" BOOLEAN NOT NULL DEFAULT false,
    "guestEmail" TEXT,
    "guestFirstName" TEXT,
    "guestLastName" TEXT,
    "guestPhone" TEXT,
    "tosAcceptedAt" TIMESTAMP(3),
    "privacyPolicyAcceptedAt" TIMESTAMP(3),
    "emailRemindersConsent" BOOLEAN NOT NULL DEFAULT false,
    "emailRemindersConsentAt" TIMESTAMP(3),
    "smsRemindersConsent" BOOLEAN NOT NULL DEFAULT false,
    "smsRemindersConsentAt" TIMESTAMP(3),
    "orderNumber" TEXT NOT NULL,
    "orderStatus" "OrderStatus" NOT NULL DEFAULT 'PENDING',
    "subtotal" DECIMAL(10,2) NOT NULL,
    "tax" DECIMAL(10,2) NOT NULL,
    "total" DECIMAL(10,2) NOT NULL,
    "paymentStatus" "PaymentStatus" NOT NULL DEFAULT 'PENDING',
    "paymentMethod" TEXT,
    "stripePaymentId" TEXT,
    "stripePaymentIntentId" TEXT,
    "packageId" TEXT,
    "riskScore" INTEGER,
    "riskLevel" "RiskLevel",
    "requiresReview" BOOLEAN NOT NULL DEFAULT false,
    "reviewedAt" TIMESTAMP(3),
    "reviewedBy" TEXT,
    "ipAddress" TEXT,
    "userAgent" TEXT,
    "isRushOrder" BOOLEAN NOT NULL DEFAULT false,
    "includesRegisteredAgent" BOOLEAN NOT NULL DEFAULT false,
    "raRenewalDate" TIMESTAMP(3),
    "raAutoRenew" BOOLEAN NOT NULL DEFAULT true,
    "raRenewalPrice" DECIMAL(10,2),
    "raRenewalNotificationSent" BOOLEAN NOT NULL DEFAULT false,
    "orderData" JSONB,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "paidAt" TIMESTAMP(3),
    "completedAt" TIMESTAMP(3),

    CONSTRAINT "orders_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "order_items" (
    "id" TEXT NOT NULL,
    "orderId" TEXT NOT NULL,
    "serviceType" "ServiceType" NOT NULL,
    "description" TEXT NOT NULL,
    "quantity" INTEGER NOT NULL DEFAULT 1,
    "unitPrice" DECIMAL(10,2) NOT NULL,
    "totalPrice" DECIMAL(10,2) NOT NULL,
    "requiresAdditionalData" BOOLEAN NOT NULL DEFAULT false,
    "additionalDataCollected" BOOLEAN NOT NULL DEFAULT false,
    "additionalData" JSONB,
    "dataCollectionFormType" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "order_items_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "notifications" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "type" "NotificationType" NOT NULL,
    "title" TEXT NOT NULL,
    "message" TEXT NOT NULL,
    "isRead" BOOLEAN NOT NULL DEFAULT false,
    "readAt" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "notifications_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "notices" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "type" "NoticeType" NOT NULL,
    "priority" "NoticePriority" NOT NULL,
    "title" TEXT NOT NULL,
    "message" TEXT NOT NULL,
    "filingId" TEXT,
    "actionUrl" TEXT,
    "actionLabel" TEXT,
    "isRead" BOOLEAN NOT NULL DEFAULT false,
    "isDismissed" BOOLEAN NOT NULL DEFAULT false,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "expiresAt" TIMESTAMP(3),

    CONSTRAINT "notices_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "risk_assessments" (
    "id" TEXT NOT NULL,
    "orderId" TEXT NOT NULL,
    "userId" TEXT,
    "riskScore" INTEGER NOT NULL,
    "riskLevel" "RiskLevel" NOT NULL,
    "recommendation" "RiskRecommendation" NOT NULL,
    "aiReasoning" TEXT NOT NULL,
    "aiModel" TEXT NOT NULL DEFAULT 'gpt-4-turbo',
    "riskFactors" JSONB NOT NULL,
    "customerEmail" TEXT NOT NULL,
    "customerName" TEXT,
    "customerPhone" TEXT,
    "accountAge" INTEGER,
    "previousOrders" INTEGER NOT NULL DEFAULT 0,
    "previousChargebacks" INTEGER NOT NULL DEFAULT 0,
    "orderAmount" DECIMAL(10,2) NOT NULL,
    "paymentMethod" TEXT NOT NULL,
    "isRushOrder" BOOLEAN NOT NULL DEFAULT false,
    "ipAddress" TEXT,
    "userAgent" TEXT,
    "billingAddress" JSONB,
    "requiresReview" BOOLEAN NOT NULL DEFAULT false,
    "reviewedAt" TIMESTAMP(3),
    "reviewedBy" TEXT,
    "reviewNotes" TEXT,
    "reviewDecision" "ReviewDecision",
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "risk_assessments_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "services" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "slug" TEXT NOT NULL,
    "orderType" TEXT NOT NULL,
    "category" TEXT NOT NULL,
    "shortDescription" TEXT,
    "longDescription" TEXT,
    "serviceFee" DECIMAL(10,2) NOT NULL,
    "stateFee" DECIMAL(10,2) NOT NULL,
    "registeredAgentFee" DECIMAL(10,2) NOT NULL DEFAULT 0,
    "totalPrice" DECIMAL(10,2) NOT NULL,
    "rushFeeAvailable" BOOLEAN NOT NULL DEFAULT false,
    "rushFee" DECIMAL(10,2) NOT NULL DEFAULT 0,
    "entityTypes" TEXT[],
    "processingTime" TEXT,
    "filingMethod" TEXT NOT NULL DEFAULT 'online',
    "requirements" JSONB,
    "formFields" JSONB,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "isPopular" BOOLEAN NOT NULL DEFAULT false,
    "isFeatured" BOOLEAN NOT NULL DEFAULT false,
    "displayOrder" INTEGER NOT NULL DEFAULT 0,
    "icon" TEXT,
    "metaTitle" TEXT,
    "metaDescription" TEXT,
    "keywords" TEXT[],
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "services_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "customer_interactions" (
    "id" TEXT NOT NULL,
    "customerId" TEXT,
    "orderId" TEXT,
    "channel" "InteractionChannel" NOT NULL,
    "direction" "InteractionDirection" NOT NULL,
    "subject" TEXT NOT NULL,
    "content" TEXT NOT NULL,
    "aiSummary" TEXT,
    "agentId" TEXT,
    "category" "InteractionCategory" NOT NULL,
    "tags" TEXT[],
    "sentiment" "Sentiment",
    "status" "InteractionStatus" NOT NULL DEFAULT 'OPEN',
    "priority" "Priority" NOT NULL DEFAULT 'NORMAL',
    "resolvedAt" TIMESTAMP(3),
    "resolutionTime" INTEGER,
    "uplDisclaimerShown" BOOLEAN NOT NULL DEFAULT false,
    "uplDisclaimerText" TEXT,
    "containsLegalQuestion" BOOLEAN NOT NULL DEFAULT false,
    "parentInteractionId" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "customer_interactions_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "interaction_attachments" (
    "id" TEXT NOT NULL,
    "interactionId" TEXT NOT NULL,
    "fileType" "AttachmentFileType" NOT NULL,
    "fileUrl" TEXT NOT NULL,
    "fileName" TEXT NOT NULL,
    "fileSize" INTEGER NOT NULL,
    "mimeType" TEXT NOT NULL,
    "duration" INTEGER,
    "transcriptUrl" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "interaction_attachments_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "interaction_access_logs" (
    "id" TEXT NOT NULL,
    "interactionId" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "action" "AccessAction" NOT NULL,
    "ipAddress" TEXT,
    "userAgent" TEXT,
    "timestamp" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "interaction_access_logs_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "feedback" (
    "id" TEXT NOT NULL,
    "feedbackId" TEXT NOT NULL,
    "positive" BOOLEAN NOT NULL,
    "comment" TEXT,
    "url" TEXT NOT NULL,
    "userId" TEXT,
    "sessionId" TEXT,
    "userAgent" TEXT,
    "ipAddress" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "feedback_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "form_drafts" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "formType" TEXT NOT NULL,
    "formData" JSONB NOT NULL,
    "currentStep" INTEGER NOT NULL DEFAULT 1,
    "totalSteps" INTEGER NOT NULL DEFAULT 5,
    "displayName" TEXT,
    "emailRemindersEnabled" BOOLEAN NOT NULL DEFAULT false,
    "lastReminderSent" TIMESTAMP(3),
    "reminderCount" INTEGER NOT NULL DEFAULT 0,
    "autoFillSource" TEXT,
    "verifiedFields" TEXT[],
    "isArchived" BOOLEAN NOT NULL DEFAULT false,
    "completedAt" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "form_drafts_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "dba_drafts" (
    "id" TEXT NOT NULL,
    "email" TEXT NOT NULL,
    "formData" TEXT NOT NULL,
    "token" TEXT NOT NULL,
    "expiresAt" TIMESTAMP(3) NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "dba_drafts_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "florida_entities" (
    "id" TEXT NOT NULL,
    "documentNumber" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "normalizedName" TEXT NOT NULL,
    "status" TEXT NOT NULL,
    "entityType" TEXT,
    "filingDate" TIMESTAMP(3),
    "state" TEXT NOT NULL DEFAULT 'FL',
    "principalAddress" TEXT,
    "mailingAddress" TEXT,
    "registeredAgent" TEXT,
    "lastUpdated" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "florida_entities_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "fictitious_names" (
    "id" TEXT NOT NULL,
    "documentNumber" TEXT NOT NULL,
    "fictitiousName" TEXT NOT NULL,
    "normalizedName" TEXT NOT NULL,
    "county" TEXT,
    "status" TEXT NOT NULL,
    "filingDate" TIMESTAMP(3),
    "expirationDate" TIMESTAMP(3),
    "cancellationDate" TIMESTAMP(3),
    "principalAddress" TEXT,
    "mailingAddress" TEXT,
    "numberOfOwners" INTEGER NOT NULL DEFAULT 0,
    "lastUpdated" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "userId" TEXT,
    "orderId" TEXT,
    "fein" TEXT,
    "correspondenceEmail" TEXT,
    "advertisementCertified" BOOLEAN NOT NULL DEFAULT false,
    "newspaperName" TEXT,
    "publicationDate" TEXT,
    "signatureName" TEXT,
    "signatureDate" TIMESTAMP(3),
    "signatureIp" TEXT,
    "principalAddressJson" JSONB,
    "mailingAddressJson" JSONB,
    "ownersData" JSONB,

    CONSTRAINT "fictitious_names_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "fictitious_name_owners" (
    "id" TEXT NOT NULL,
    "fictitiousNameId" TEXT NOT NULL,
    "ownerType" TEXT NOT NULL,
    "firstName" TEXT,
    "middleName" TEXT,
    "lastName" TEXT,
    "entityName" TEXT,
    "floridaDocumentNumber" TEXT,
    "fein" TEXT,
    "street" TEXT NOT NULL,
    "street2" TEXT,
    "city" TEXT NOT NULL,
    "state" TEXT NOT NULL DEFAULT 'FL',
    "zipCode" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "fictitious_name_owners_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "general_partnerships" (
    "id" TEXT NOT NULL,
    "documentNumber" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "normalizedName" TEXT NOT NULL,
    "status" TEXT NOT NULL,
    "filingDate" TIMESTAMP(3),
    "effectiveDate" TIMESTAMP(3),
    "cancellationDate" TIMESTAMP(3),
    "expirationDate" TIMESTAMP(3),
    "principalAddress" TEXT,
    "mailingAddress" TEXT,
    "numberOfPartners" INTEGER NOT NULL DEFAULT 0,
    "lastUpdated" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "general_partnerships_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "entity_data_syncs" (
    "id" TEXT NOT NULL,
    "syncType" TEXT NOT NULL,
    "dataType" TEXT NOT NULL,
    "status" TEXT NOT NULL,
    "recordsProcessed" INTEGER NOT NULL DEFAULT 0,
    "recordsAdded" INTEGER NOT NULL DEFAULT 0,
    "recordsUpdated" INTEGER NOT NULL DEFAULT 0,
    "startedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "completedAt" TIMESTAMP(3),
    "errorMessage" TEXT,

    CONSTRAINT "entity_data_syncs_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "users_email_key" ON "users"("email");

-- CreateIndex
CREATE UNIQUE INDEX "users_emailVerificationToken_key" ON "users"("emailVerificationToken");

-- CreateIndex
CREATE UNIQUE INDEX "users_passwordResetToken_key" ON "users"("passwordResetToken");

-- CreateIndex
CREATE INDEX "users_email_idx" ON "users"("email");

-- CreateIndex
CREATE INDEX "users_userType_idx" ON "users"("userType");

-- CreateIndex
CREATE INDEX "users_role_idx" ON "users"("role");

-- CreateIndex
CREATE INDEX "users_isActive_idx" ON "users"("isActive");

-- CreateIndex
CREATE INDEX "users_createdAt_idx" ON "users"("createdAt");

-- CreateIndex
CREATE INDEX "users_emailVerified_idx" ON "users"("emailVerified");

-- CreateIndex
CREATE INDEX "users_lastLoginAt_idx" ON "users"("lastLoginAt");

-- CreateIndex
CREATE INDEX "users_lockedUntil_idx" ON "users"("lockedUntil");

-- CreateIndex
CREATE UNIQUE INDEX "user_profiles_userId_key" ON "user_profiles"("userId");

-- CreateIndex
CREATE INDEX "user_profiles_userId_idx" ON "user_profiles"("userId");

-- CreateIndex
CREATE INDEX "user_profiles_enableAutoFill_idx" ON "user_profiles"("enableAutoFill");

-- CreateIndex
CREATE INDEX "user_profiles_lastAutoFillUpdate_idx" ON "user_profiles"("lastAutoFillUpdate");

-- CreateIndex
CREATE UNIQUE INDEX "auth_sessions_sessionToken_key" ON "auth_sessions"("sessionToken");

-- CreateIndex
CREATE INDEX "auth_sessions_userId_idx" ON "auth_sessions"("userId");

-- CreateIndex
CREATE INDEX "auth_sessions_sessionToken_idx" ON "auth_sessions"("sessionToken");

-- CreateIndex
CREATE INDEX "auth_sessions_expiresAt_idx" ON "auth_sessions"("expiresAt");

-- CreateIndex
CREATE INDEX "auth_sessions_isActive_idx" ON "auth_sessions"("isActive");

-- CreateIndex
CREATE INDEX "auth_sessions_lastAccessedAt_idx" ON "auth_sessions"("lastAccessedAt");

-- CreateIndex
CREATE INDEX "business_entities_clientId_idx" ON "business_entities"("clientId");

-- CreateIndex
CREATE INDEX "business_entities_entityType_idx" ON "business_entities"("entityType");

-- CreateIndex
CREATE INDEX "business_entities_status_idx" ON "business_entities"("status");

-- CreateIndex
CREATE INDEX "business_entities_documentNumber_idx" ON "business_entities"("documentNumber");

-- CreateIndex
CREATE INDEX "business_entities_createdAt_idx" ON "business_entities"("createdAt");

-- CreateIndex
CREATE INDEX "business_entities_clientId_status_idx" ON "business_entities"("clientId", "status");

-- CreateIndex
CREATE UNIQUE INDEX "registered_agents_businessEntityId_key" ON "registered_agents"("businessEntityId");

-- CreateIndex
CREATE UNIQUE INDEX "packages_slug_key" ON "packages"("slug");

-- CreateIndex
CREATE UNIQUE INDEX "orders_orderNumber_key" ON "orders"("orderNumber");

-- CreateIndex
CREATE INDEX "orders_userId_idx" ON "orders"("userId");

-- CreateIndex
CREATE INDEX "orders_orderStatus_idx" ON "orders"("orderStatus");

-- CreateIndex
CREATE INDEX "orders_paymentStatus_idx" ON "orders"("paymentStatus");

-- CreateIndex
CREATE INDEX "orders_createdAt_idx" ON "orders"("createdAt");

-- CreateIndex
CREATE INDEX "orders_requiresReview_idx" ON "orders"("requiresReview");

-- CreateIndex
CREATE INDEX "orders_userId_createdAt_idx" ON "orders"("userId", "createdAt");

-- CreateIndex
CREATE INDEX "orders_orderStatus_createdAt_idx" ON "orders"("orderStatus", "createdAt");

-- CreateIndex
CREATE INDEX "order_items_orderId_idx" ON "order_items"("orderId");

-- CreateIndex
CREATE INDEX "order_items_serviceType_idx" ON "order_items"("serviceType");

-- CreateIndex
CREATE UNIQUE INDEX "risk_assessments_orderId_key" ON "risk_assessments"("orderId");

-- CreateIndex
CREATE INDEX "risk_assessments_riskLevel_idx" ON "risk_assessments"("riskLevel");

-- CreateIndex
CREATE INDEX "risk_assessments_createdAt_idx" ON "risk_assessments"("createdAt");

-- CreateIndex
CREATE INDEX "risk_assessments_requiresReview_idx" ON "risk_assessments"("requiresReview");

-- CreateIndex
CREATE INDEX "risk_assessments_userId_idx" ON "risk_assessments"("userId");

-- CreateIndex
CREATE UNIQUE INDEX "services_slug_key" ON "services"("slug");

-- CreateIndex
CREATE INDEX "services_category_idx" ON "services"("category");

-- CreateIndex
CREATE INDEX "services_slug_idx" ON "services"("slug");

-- CreateIndex
CREATE INDEX "services_isActive_idx" ON "services"("isActive");

-- CreateIndex
CREATE INDEX "customer_interactions_customerId_idx" ON "customer_interactions"("customerId");

-- CreateIndex
CREATE INDEX "customer_interactions_orderId_idx" ON "customer_interactions"("orderId");

-- CreateIndex
CREATE INDEX "customer_interactions_agentId_idx" ON "customer_interactions"("agentId");

-- CreateIndex
CREATE INDEX "customer_interactions_status_idx" ON "customer_interactions"("status");

-- CreateIndex
CREATE INDEX "customer_interactions_category_idx" ON "customer_interactions"("category");

-- CreateIndex
CREATE INDEX "customer_interactions_createdAt_idx" ON "customer_interactions"("createdAt");

-- CreateIndex
CREATE INDEX "customer_interactions_containsLegalQuestion_idx" ON "customer_interactions"("containsLegalQuestion");

-- CreateIndex
CREATE INDEX "interaction_attachments_interactionId_idx" ON "interaction_attachments"("interactionId");

-- CreateIndex
CREATE INDEX "interaction_access_logs_interactionId_idx" ON "interaction_access_logs"("interactionId");

-- CreateIndex
CREATE INDEX "interaction_access_logs_userId_idx" ON "interaction_access_logs"("userId");

-- CreateIndex
CREATE INDEX "interaction_access_logs_timestamp_idx" ON "interaction_access_logs"("timestamp");

-- CreateIndex
CREATE INDEX "feedback_feedbackId_idx" ON "feedback"("feedbackId");

-- CreateIndex
CREATE INDEX "feedback_createdAt_idx" ON "feedback"("createdAt");

-- CreateIndex
CREATE INDEX "feedback_positive_idx" ON "feedback"("positive");

-- CreateIndex
CREATE INDEX "feedback_userId_idx" ON "feedback"("userId");

-- CreateIndex
CREATE INDEX "form_drafts_createdAt_idx" ON "form_drafts"("createdAt");

-- CreateIndex
CREATE INDEX "form_drafts_updatedAt_idx" ON "form_drafts"("updatedAt");

-- CreateIndex
CREATE INDEX "form_drafts_emailRemindersEnabled_idx" ON "form_drafts"("emailRemindersEnabled");

-- CreateIndex
CREATE INDEX "form_drafts_isArchived_idx" ON "form_drafts"("isArchived");

-- CreateIndex
CREATE INDEX "form_drafts_autoFillSource_idx" ON "form_drafts"("autoFillSource");

-- CreateIndex
CREATE UNIQUE INDEX "form_drafts_userId_formType_key" ON "form_drafts"("userId", "formType");

-- CreateIndex
CREATE UNIQUE INDEX "dba_drafts_token_key" ON "dba_drafts"("token");

-- CreateIndex
CREATE INDEX "dba_drafts_token_idx" ON "dba_drafts"("token");

-- CreateIndex
CREATE INDEX "dba_drafts_email_idx" ON "dba_drafts"("email");

-- CreateIndex
CREATE INDEX "dba_drafts_expiresAt_idx" ON "dba_drafts"("expiresAt");

-- CreateIndex
CREATE UNIQUE INDEX "florida_entities_documentNumber_key" ON "florida_entities"("documentNumber");

-- CreateIndex
CREATE INDEX "florida_entities_normalizedName_idx" ON "florida_entities"("normalizedName");

-- CreateIndex
CREATE INDEX "florida_entities_status_idx" ON "florida_entities"("status");

-- CreateIndex
CREATE INDEX "florida_entities_documentNumber_idx" ON "florida_entities"("documentNumber");

-- CreateIndex
CREATE UNIQUE INDEX "fictitious_names_documentNumber_key" ON "fictitious_names"("documentNumber");

-- CreateIndex
CREATE INDEX "fictitious_names_normalizedName_idx" ON "fictitious_names"("normalizedName");

-- CreateIndex
CREATE INDEX "fictitious_names_status_idx" ON "fictitious_names"("status");

-- CreateIndex
CREATE INDEX "fictitious_names_documentNumber_idx" ON "fictitious_names"("documentNumber");

-- CreateIndex
CREATE INDEX "fictitious_names_userId_idx" ON "fictitious_names"("userId");

-- CreateIndex
CREATE INDEX "fictitious_names_orderId_idx" ON "fictitious_names"("orderId");

-- CreateIndex
CREATE INDEX "fictitious_name_owners_fictitiousNameId_idx" ON "fictitious_name_owners"("fictitiousNameId");

-- CreateIndex
CREATE UNIQUE INDEX "general_partnerships_documentNumber_key" ON "general_partnerships"("documentNumber");

-- CreateIndex
CREATE INDEX "general_partnerships_normalizedName_idx" ON "general_partnerships"("normalizedName");

-- CreateIndex
CREATE INDEX "general_partnerships_status_idx" ON "general_partnerships"("status");

-- CreateIndex
CREATE INDEX "general_partnerships_documentNumber_idx" ON "general_partnerships"("documentNumber");

-- AddForeignKey
ALTER TABLE "users" ADD CONSTRAINT "users_managerId_fkey" FOREIGN KEY ("managerId") REFERENCES "users"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "user_profiles" ADD CONSTRAINT "user_profiles_userId_fkey" FOREIGN KEY ("userId") REFERENCES "users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "auth_sessions" ADD CONSTRAINT "auth_sessions_userId_fkey" FOREIGN KEY ("userId") REFERENCES "users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "clients" ADD CONSTRAINT "clients_userId_fkey" FOREIGN KEY ("userId") REFERENCES "users"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "addresses" ADD CONSTRAINT "addresses_clientId_fkey" FOREIGN KEY ("clientId") REFERENCES "clients"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "addresses" ADD CONSTRAINT "addresses_businessEntityId_fkey" FOREIGN KEY ("businessEntityId") REFERENCES "business_entities"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "addresses" ADD CONSTRAINT "addresses_registeredAgentId_fkey" FOREIGN KEY ("registeredAgentId") REFERENCES "registered_agents"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "business_entities" ADD CONSTRAINT "business_entities_clientId_fkey" FOREIGN KEY ("clientId") REFERENCES "clients"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "registered_agents" ADD CONSTRAINT "registered_agents_businessEntityId_fkey" FOREIGN KEY ("businessEntityId") REFERENCES "business_entities"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "managers_officers" ADD CONSTRAINT "managers_officers_businessEntityId_fkey" FOREIGN KEY ("businessEntityId") REFERENCES "business_entities"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "filings" ADD CONSTRAINT "filings_businessEntityId_fkey" FOREIGN KEY ("businessEntityId") REFERENCES "business_entities"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "filing_documents" ADD CONSTRAINT "filing_documents_filingId_fkey" FOREIGN KEY ("filingId") REFERENCES "filings"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "orders" ADD CONSTRAINT "orders_userId_fkey" FOREIGN KEY ("userId") REFERENCES "users"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "orders" ADD CONSTRAINT "orders_packageId_fkey" FOREIGN KEY ("packageId") REFERENCES "packages"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "order_items" ADD CONSTRAINT "order_items_orderId_fkey" FOREIGN KEY ("orderId") REFERENCES "orders"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "notifications" ADD CONSTRAINT "notifications_userId_fkey" FOREIGN KEY ("userId") REFERENCES "users"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "notices" ADD CONSTRAINT "notices_userId_fkey" FOREIGN KEY ("userId") REFERENCES "users"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "notices" ADD CONSTRAINT "notices_filingId_fkey" FOREIGN KEY ("filingId") REFERENCES "filings"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "risk_assessments" ADD CONSTRAINT "risk_assessments_orderId_fkey" FOREIGN KEY ("orderId") REFERENCES "orders"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "risk_assessments" ADD CONSTRAINT "risk_assessments_userId_fkey" FOREIGN KEY ("userId") REFERENCES "users"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "risk_assessments" ADD CONSTRAINT "risk_assessments_reviewedBy_fkey" FOREIGN KEY ("reviewedBy") REFERENCES "users"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "customer_interactions" ADD CONSTRAINT "customer_interactions_customerId_fkey" FOREIGN KEY ("customerId") REFERENCES "users"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "customer_interactions" ADD CONSTRAINT "customer_interactions_orderId_fkey" FOREIGN KEY ("orderId") REFERENCES "orders"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "customer_interactions" ADD CONSTRAINT "customer_interactions_agentId_fkey" FOREIGN KEY ("agentId") REFERENCES "users"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "customer_interactions" ADD CONSTRAINT "customer_interactions_parentInteractionId_fkey" FOREIGN KEY ("parentInteractionId") REFERENCES "customer_interactions"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "interaction_attachments" ADD CONSTRAINT "interaction_attachments_interactionId_fkey" FOREIGN KEY ("interactionId") REFERENCES "customer_interactions"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "interaction_access_logs" ADD CONSTRAINT "interaction_access_logs_interactionId_fkey" FOREIGN KEY ("interactionId") REFERENCES "customer_interactions"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "interaction_access_logs" ADD CONSTRAINT "interaction_access_logs_userId_fkey" FOREIGN KEY ("userId") REFERENCES "users"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "feedback" ADD CONSTRAINT "feedback_userId_fkey" FOREIGN KEY ("userId") REFERENCES "users"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "form_drafts" ADD CONSTRAINT "form_drafts_userId_fkey" FOREIGN KEY ("userId") REFERENCES "users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "fictitious_names" ADD CONSTRAINT "fictitious_names_userId_fkey" FOREIGN KEY ("userId") REFERENCES "users"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "fictitious_names" ADD CONSTRAINT "fictitious_names_orderId_fkey" FOREIGN KEY ("orderId") REFERENCES "orders"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "fictitious_name_owners" ADD CONSTRAINT "fictitious_name_owners_fictitiousNameId_fkey" FOREIGN KEY ("fictitiousNameId") REFERENCES "fictitious_names"("id") ON DELETE CASCADE ON UPDATE CASCADE;

